@import '../../../../assets/css/utilities/variable.scss';

.pt10 {
  padding-top: 10px;
}

.wrapperOverviewStatistic {
  margin-top: 10px;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $gray_15;
  padding: 15px;
  padding-bottom: 10px;
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .titleBox {
    color: $gray_3;
    font-size: 15px;
  }
  .iconContainer {
    display: flex;
    flex-direction: row;
  }
  .iconWrapper {
    border: 1px solid $gray_11;
    cursor: pointer;
  }
  .iconCalendarWrapper {
    padding: 6px 16px;
  }
  .iconWrapperActive {
    border: 1px solid $blue_3;
    cursor: pointer;
  }
  .iconCalendarActive {
    stroke: $blue_3;
    path {
      stroke: $blue_3;
    }
    rect {
      stroke: $blue_3;
    }
  }
  .iconListActive {
    path {
      fill: $blue_3;
    }
  }
}
.btnChart {
  border: none !important;
  margin: 0px 5px;
  border: none !important;
  font-size: 12px !important;
  height: 24px;
  width: 40px;
  border-radius: 4px !important;
}
.iconListWrapper {
  padding: 4.5px 14.5px;
}

.wrapperOverviewStatisticDraggable {
  margin-top: 0;
}

.wrapperOverviewStatisticDraggableList {
  padding: 15px;
  height: 100%;
}
