{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "^styled-components$": "styled-components/native"
        }
      }
    ],
    ["react-native-reanimated/plugin"]
  ]
}
