@import '../../../assets/css/utilities/variable.scss';

.wrapperTitle {
  margin-left: 40px;
  margin-top: 30px;
  .title {
    font-weight: bold;
    font-size: $title_font_size;
    color: $gray_3;
  }
}

.wrapperFilter {
  background-color: $gray_12;
  padding: 5px 20px;

  .title {
    font-weight: bold;
    font-size: $title_font_size;
    color: $gray_3;
    line-height: 20px;
  }
  .wrapperInput {
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .label {
      color: $gray_3_1;
      font-size: 1rem;
      font-weight: 400;
    }

    .inputRole {
      width: 350px;
      margin-right: 20px;
    }
    .disabledFilter {
      background-color: $gray_11 !important;
    }
  }

  .wrapSelect {
    .inputSelect {
      margin-right: 20px;
      width: 350px;
      // height: 48px;
      background-color: $white;
      box-sizing: border-box;
      border-radius: $input-radius;
    }
    .disabledFilter {
      div {
        background: $gray_11 !important;
      }
    }
    .wrapSelectError {
      border: 1px solid $red_2;
    }
    .errorSelect {
      color: $red_2;
      padding-left: 14px;
    }
  }
}

.tableDetail {
  margin-bottom: 30px;

  .wrapTitleTableTop {
    padding: 10px 20px;
    .title {
      font-weight: bold;
      font-size: $title_font_size;
      color: $gray_3;
    }

    .icRequired {
      padding-bottom: 8px;
    }

    .errorFeature {
      color: $red_2;
      font-weight: 400 !important;
    }
  }
}

@media (max-width: 1400px) {
  .wrapperFilter {
    .wrapperInput {
      .inputRole {
        flex-grow: 1;
        width: 230px !important;
      }
    }
    .wrapSelect {
      .inputSelect {
        width: 230px !important;
        flex-grow: 1;
      }
    }
  }
}

.layout {
  width: 100%;
  margin-bottom: 20px;
}

.wrapTable {
  min-height: calc(100vh - 480px);
  width: 100%;
  .loading {
    margin-top: 17%;
    height: 60px;
    width: 60px;
  }

  .noData {
    margin-top: 12%;
    height: 100px;
    width: 100px;
  }

  .wrapTableChild {
    overflow-x: auto;
    overflow-y: visible;

    .table {
      width: 100%;
      padding-left: 20px;
      background-color: $white;
      overflow: hidden;

      tbody {
        tr:last-child {
          border-bottom: 1px solid $gray_10;
        }
      }
      .rowTitle {
        border-bottom: 1px solid $gray_10;
        td:first-child {
          min-width: 280px;
        }
        &.oddRow {
          background-color: $white;
        }

        &.evenRow {
          background-color: $gray_12;
        }
        td:first-child {
          padding-left: 20px;
          height: 38px;
        }

        td {
          border: 1px solid $gray_10;
          border-bottom: none;
          border-left: none !important;
          font-size: 13px;
          height: 38px;
          font-weight: 500;
          vertical-align: middle;

          .sub2 {
            height: 28px;
            padding-right: 6px;
            margin-bottom: 28px;
          }
          label {
            margin-left: auto;
            margin-right: auto;
            width: 15px;
          }
        }
      }

      .removerBorder {
        td {
          height: 38px;
          border-top: unset !important;
          img {
            padding-left: 30px;
          }
        }
      }
      .thread {
        background-color: $bg-color1;
        width: 100%;
        .titleTable {
          text-transform: capitalize;

          th:first-child {
            padding-left: 20px;
            min-width: 280px;
            text-align: left;
          }

          th {
            border: 1px solid $gray_10 !important;
            border-bottom: unset;
            font-size: 13px;

            line-height: 22px;
            margin: 0px 12px;
            border-left: none !important;
            color: $gray_3;
            border-style: none;
            width: 120px;
            text-align: center;
          }
          th:last-child {
            width: auto !important;
          }
        }
      }

      .titleLeft {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: $gray_3;
        img {
          height: 38px;
          margin-right: 18px;
        }
      }

      .subAction {
        width: 120px;
        padding: 17px 34px 17px 34px !important;
        .icAction {
          display: flex;
          justify-content: space-between;
          width: 70px;
        }
      }
      .subTitleName {
        height: 38px;
        padding: 0;
      }
      .subTitle1 {
        height: 38px;
        padding-left: 80px !important;
        border-bottom: 1px solid $gray_3;
      }
      .subTitle2 {
        height: 38px;
        padding: 0;
      }
      .titleLeft1 {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: $gray_5;
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $blue_3;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:active {
      background: $blue_2;
    }
  }
}

.footer {
  display: flex;
  padding: 20px 40px;
  float: right;
  justify-content: space-between;

  .buttonCancel {
    border: 1px solid $gray_10;
    box-sizing: border-box;
    border-radius: 6px;
    color: $gray_5;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    // width: 160px;
    // height: 48px;
  }
  .buttonSave {
    // width: 160px;
    // height: 48px;
    left: 180px;
    top: 0px;

    /* Blue Primary/3 */
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    background: $blue_3;
    border-radius: 6px;
    margin-left: 20px;
  }
  /* Grey/10 */
}
