@import 'assets/css/utilities/variable.scss';

.wrapResetPassword {
  min-height: calc(100vh - 210px);
  height: calc(100vh - 170px);
  position: relative;
}

.wrapLabelPassword {
  width: 257px;
}

.password {
  background: $white;
  border-radius: 4px;
  .btnCopy {
    border: none;
    background-color: $blue_10;
    border-radius: 7px;
    height: 24px;
    width: 24px;
    margin-bottom: 8px;
  }
}
.hiddenInput {
  position: absolute;
  top: -20000px;
}

.btnPassword {
  border: none;
  background-color: transparent;
}
.btnAutoGenerate {
  margin-top: 20px;
}
.inputPassword {
  margin-bottom: 20px;
  .btnCopy {
    display: block;
    border: none;
    background-color: $blue_10;
    border-radius: 7px;
    height: 24px;
    width: 24px;
  }
}

.fieldInputPassword {
  width: 280px;
  margin-right: 10px;
}
.conditionPassword {
  .subTitle {
    margin-bottom: 12px;
    span {
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      color: $gray_3;
      margin-bottom: 12px;
    }
  }
  .step__item__reset__password {
    margin-bottom: 12px;
  }
}

.passwordWrapRequired {
  padding-left: 70px;
  @media (max-width: 1400px) {
    padding-left: 30px;
  }
}

.buttonResetPasswordForm {
  width: 170px !important;
}

.wrapBtn {
  position: absolute;
  right: 20px;
  bottom: 0;
}
