@import '../../../assets/css/utilities/variable.scss';

.menuItem {
  min-height: 30px;
  padding: 5px 15px 5px 20px;
  border-radius: $button-radius;
  .icMenu {
    margin-right: 10px;
    margin-top: 1px;
    width: 15px !important;
    height: 15px;
  }

  span {
    font-size: px-to-rem(14);
    font-weight: 500;
    line-height: 20px;
    white-space: break-spaces !important;
  }
  .header {
    line-height: 22px;
    font-size: px-to-rem(14);
    color: $gray_3;
    font-weight: 800;
  }
}

.normal {
  &.active {
    background: $blue_3;
    .content {
      color: $white !important;
      &:hover {
        color: $white !important;
      }
    }
  }

  &.inActive {
    span {
      color: $gray_5;
    }
    &:hover {
      background: rgba(93, 102, 93, 0.164);
    }
  }
}

.headerGroup {
  padding: 5px 12px !important;
  line-height: 22px;
  font-size: px-to-rem(14);
  font-weight: 800;
  span {
    color: $gray_3 !important;
  }
}
.quality {
  &.active {
    background: $blue_9;
    .content {
      color: $blue_2 !important;
      &:hover {
        color: $blue_2 !important;
      }
    }
  }

  &.inActive {
    span {
      color: $gray_5;
    }
    &:hover {
      background: rgba(93, 102, 93, 0.164);
    }
  }
}
