@import 'assets/css/utilities/variable.scss';
@import 'assets/css/utilities/variable.scss';

.user {
  height: 100%;
  .wrapContainer {
    min-height: calc(100vh - 56px);
    height: fit-content;
    background-color: $bg-color-container;
    width: 100%;
    border-left: 1px solid $gray_11;

    .title {
      font-weight: bold;
      font-size: px-to-rem(20);
      line-height: 150%;
      margin: 8px 0px 30px;
      color: $gray_3;
    }

    .buttonFilter {
      min-width: 100px;
      span {
        font-weight: 500;
        font-size: px-to-rem(14);
        line-height: 22px;
      }
    }
  }
}

.noDateWrapper {
  width: 100%;
  height: calc(100vh - 56px);
  position: relative;
  .loading {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.buttonAddRole {
  .icButton {
    margin-left: 9px;
  }
  margin-left: 7px;
}
