@import 'assets/css/utilities/variable.scss';

.btnWrapper {
  gap: 20px;
  .btns {
    display: flex;
    gap: 8px;
    width: max-content;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 22px;
  }
  .btnOutline {
    &:hover {
      color: $blue_3;
      background: darken($white, 10%);
    }
  }
  .preview {
    &:hover {
      img {
        outline: $white;
      }
    }
  }
  .green {
    background-color: $green_1;
    &:hover {
      background-color: $green_3;
    }
  }
  .btnRed {
    background: $red_3;
    &:hover {
      background: $red_7;
    }
  }
}
