@import 'assets/css/utilities/variable.scss';

.companyManagement {
  font-size: 14px;
  background-color: $bg-color-container;
  font-weight: 600;
  min-height: calc(100vh - 56px);
  position: relative;
  padding-bottom: 60px;
  .buttonFilter {
    span {
      font-weight: 500;
      font-size: px-to-rem(14);
      line-height: 22px;
    }
  }
}
