@import 'assets/css/utilities/variable.scss';

.wrap {
  .value {
    background-color: $white;
    height: 30px;
    padding: 0 16px;
    border: 1px solid #bbbabf !important;
    border-radius: 8px;
    min-width: 110px;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    .placeholder {
      color: #95939a;
    }
    .arrowBtn {
      position: absolute;
      right: 10px;
    }
  }
  .wrapSelect {
    background: $white;
    box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    padding: 20px;
    position: absolute;
    top: 29px;
    z-index: 100;
    width: 100%;
  }
}

.disableSelect {
  color: $gray_7;
  background-color: $gray_11 !important;
  cursor: no-drop !important;
}

.requireMessage {
  color: $red_2;
  font-size: 12.25px;
  padding-left: 14px;
}
