@import 'assets/css/utilities/variable.scss';

.issueWrapper {
  height: 400px;
  padding: 10px;
  padding-bottom: 0;
  background-color: $white;
  border: 1px solid $gray_15;
  border-radius: 4px;
  height: 100%;

  .wrapper {
    padding: 15px 0;
    height: 70px;
    border-bottom: 1px solid $gray_15;
    &:last-child {
      border: none;
    }

    .label {
      color: $gray_5;
      font-size: 13px;
      line-height: px-to-rem(20);
    }

    .number {
      color: $orange_3;
      font-size: $title_font_size;
      line-height: px-to-rem(20);
      text-align: right;
    }
    .viewMore {
      color: $blue_3;
      font-size: px-to-rem(13);
      line-height: px-to-rem(20);
      text-align: right;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.btnChartCarCap {
  margin: 0px 5px;
  border: none !important;
  font-size: 12px !important;
  height: 24px;
  width: 40px;
  border-radius: 4px !important;
}

.title {
  font-size: $title_font_size;
  line-height: px-to-rem(24);
  letter-spacing: 0.5px;
  font-weight: 700;
  color: $gray_3;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.fontWeight600 {
  font-weight: 600 !important;
}

.subTitleModal {
  color: $gray_3;
  font-weight: 600;
  font-size: 14px;
}
.height550 {
  height: 550px !important;
}

.marginLeftAuto {
  margin-left: auto;
}
