@import '../../../assets/css/utilities/variable.scss';
@import 'assets/css/utilities/';

.editContainer {
  font-size: px-to-rem(14);
  font-weight: 600;
  background-color: $bg-color-container;
  min-height: calc(100vh - 56px);
  position: relative;
  .headerContainer {
    background-color: $white;
    padding: 9px 20px;
    .headers {
      .title {
        color: $gray_3;
        font-size: 1.1rem;
        font-size: $title_font_size;
        line-height: 30px;
      }
    }

    .tabsWrapper {
      gap: 32px;
      border-bottom: 1px solid $gray_10;
      .tabsButton {
        @include reset-button;
        color: $gray_7;
        gap: 32px;
      }
      .tabsButtonActive {
        color: $blue_3;
        border-bottom: 2px solid $blue_3;
        border-radius: 0;
      }
    }
    .wrapBtnsHeader {
      @media (max-width: 1400px) {
        max-width: 500px;
        padding-bottom: 20px;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
      @media (max-width: 1200px) {
        max-width: 450px;
        padding-bottom: 20px;
      }
      button {
        margin-bottom: 8px;
      }
    }
  }
  .sno {
    font-size: 14px;
    .label {
      color: $gray_5;
    }
    padding-right: 10px;
    margin-right: 10px;
    b {
      color: $blue_3;
    }
  }
  .borderRight {
    border-right: solid 1px $gray_7;
  }
  .status {
    font-size: 14px;
    .label {
      color: $gray_5;
    }
    padding-right: 10px;
    margin-right: 10px;
    b {
      color: $blue_3;
    }
    border-right: solid 1px $gray_7;
  }
  .formContainer {
    height: 100%;
  }
  .rofContainer {
    padding-top: 0;
  }
  .btnSendMail {
    margin-left: 7px;
    background: $blue_9_2 !important;
    border-radius: 6px;
    color: $blue_2 !important;
  }
}
