@import 'assets/css/utilities/variable.scss';

.container {
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content {
    font-size: 32px;
    color: $gray_3;
  }
  .message {
    color: $gray_5;
  }
}
