@import '../../../assets/css/utilities/variable.scss';

.wrapFormPlaning {
  min-height: 40vh;
  height: 40vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue_3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $blue_2;
  }
  table {
    overflow: unset !important;

    thead {
      tr {
        th:first-child {
          display: flex;
          align-items: center;
        }
        th {
          height: 40px !important;
        }
      }
    }

    tbody {
      tr {
        td:first-child {
          display: flex;
          align-items: center;
        }
        td {
          height: 51px !important;

          span {
            overflow: unset !important;
          }
        }
      }
    }
  }
}

.headers {
  padding-bottom: 20px;
  .title {
    color: $gray_3;
    font-size: px-to-rem(20);
    line-height: 30px;
    padding-top: 8px;
  }
  .search {
    display: flex;
    .btnSearch {
      margin-left: 20px;
      font-size: px-to-rem(16);
      font-weight: 500;
    }
    .searchInput {
      background-color: $gray_12 !important;
    }
  }
}
.headerBtn {
  .buttonFilter {
    width: 100px;
    span {
      font-weight: 500;
      font-size: px-to-rem(14);
      line-height: 22px;
    }
  }
}
.buttonWrapper {
  display: flex;
  width: 200px;
  height: 100%;
  align-items: center;
  .buttonTemplate {
    width: 200px;
    font-size: px-to-rem(16);
  }
}

.divider {
  height: 1px;
  width: 100%;
  background-color: $gray_11;
}

.icButton {
  padding-left: 9px;
}

.wrapperContainer {
  background-color: $white;
  padding: 10px 26px;
  border-radius: 5px;

  .containerForm {
    .inputSelect {
      margin-right: 20px;
      background: $white;
      box-sizing: border-box;
      border-radius: $input-radius;
    }
    .ant-select-selection-placeholder {
      padding: 7px;
    }
    .labelSelect {
      font-size: 1rem;
      color: $gray_3;
      font-weight: 400;
    }
    .titleForm {
      font-size: $title_font_size;
      margin-bottom: 10px;
    }
    .labelForm {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      span {
        font-size: $title_font_size;
        line-height: 26px;
        color: $gray_3;
        font-weight: 500;
      }
      .buttonAdd {
        font-size: px-to-rem(14);
      }
    }

    ::placeholder {
      font-size: 1rem !important;
    }
    .rowCustom {
      margin-top: 10px;
      .choosePlan {
        margin-top: 16px;
      }
      .label {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.4px;
        margin-bottom: 2px;
        color: $gray_3;
      }
      .value {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.4px;
        color: $gray_3;
        font-weight: normal;
        .wrapTextOverflow {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-word;
          white-space: normal;
        }
      }
      .memoField {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-word;
        white-space: normal;
      }
      .customScope {
        margin-top: 2px !important;
      }
    }
  }

  .disabledSelect {
    div {
      background: $white !important;
    }
  }
  .disabledInput {
    color: $gray_3 !important;
    background-color: $gray_11 !important;
  }
}
.icButtonSend {
  margin-left: 9px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  .buttonCancel {
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    width: 160px;
    height: 48px;
  }
  .buttonSave {
    width: 160px;
    height: 48px;
    left: 180px;
    top: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    border-radius: 6px;
    margin-left: 20px;
  }
}

.loading {
  margin-top: 17%;
  height: 60px;
  width: 60px;
}

.wrapperContainerAttachment {
  background-color: $white;
  padding: 10px 26px;
  border-radius: 5px;
  .containerForm {
    .buttonPort {
      width: '100%';
    }
    .titleContainer {
      color: $gray_3;
      font-size: $title_font_size;
      font-weight: 700;
      line-height: 26px;
    }
    .inputSelect {
      margin-right: 20px;
      height: 40px;
      background: $white;
      box-sizing: border-box;
      border-radius: $input-radius;
    }
    .ant-select-selection-placeholder {
      padding: 7px;
    }
    .labelSelect {
      font-size: 1rem;
      color: $gray_3_1;
      font-weight: 400;
    }
    .button {
      font-weight: 500;

      font-size: px-to-rem(14);
      .icButton {
        padding-left: 9px;
      }
    }
  }
  .inputFile {
    overflow: visible;
    display: none;
  }
  .titleForm {
    margin-bottom: unset;
    font-size: 18px;
  }
}
.footer {
  display: flex;
  justify-content: flex-end;
  .buttonCancel {
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    width: 160px;
    height: 48px;
  }
  .buttonSave {
    width: 160px;
    height: 48px;
    left: 180px;
    top: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    border-radius: 6px;
    margin-left: 20px;
  }
}
.icButtonSend {
  margin-left: 9px;
}
.loading {
  margin-top: 17%;
  height: 60px;
  width: 60px;
}
.wrapperTable {
  background-color: $white;
  padding: 20px 26px;
  border-radius: 5px;
}

.wrapAttachments {
  padding: 0 26px;
  background-color: $white;
  min-height: 370px;
  border-radius: 5px;
}
.wrapperContainerHistory {
  padding: 0 6px;
}
.wrapperContainerCheckList {
  height: 370px;
}
