@import 'assets/css/utilities/variable.scss';

.wrap {
  position: relative;

  .card {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    background-color: $white;
    flex-grow: 1;
    margin-right: 18px;
    .label {
      font-weight: 600;
      font-size: $title_font_size;
      line-height: 150%;
      margin-right: 8px;
    }
    a {
      font-weight: 600;
      font-size: $title_font_size;
      line-height: 150%;
      color: $blue_3;
    }
  }
  .customBtn {
    background: $blue_3;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    img {
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }
}
