@import 'assets/css/utilities/variable.scss';

.container {
  background-color: $white;

  .title {
    color: $gray_3;
    font-size: $title_font_size;
    font-weight: 700;
    line-height: 24px;
    padding: 6px 0px;
    letter-spacing: 0.5px;
  }
  .contentWrapper {
    border: 1px solid $gray_11;
    padding: 10px;
    max-height: 390px;
    border-bottom: 1px solid $gray_11;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: $gray_11;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $blue_3;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:active {
      background: $blue_2;
    }

    .leftContent {
      width: 96%;
      font-size: 10px;

      .content {
        margin-bottom: 5px;
        font-size: 14px;
        color: $gray_5;
      }
      .icDotBlue {
        width: 8px;
        height: 8px;
        margin: 6px 3px;
      }
      .dash {
        margin: 0px 3px;
      }
      .extraInfo {
        padding-left: 20px;
        font-size: 10px;
        color: $gray_5;
        align-items: center;
        .formatDate {
          font-size: 10px;
          color: $gray_5;
          font-weight: 400 !important;
        }
      }
    }
    .rightContent {
      .actions {
        cursor: pointer;
        position: relative;
      }

      .date {
        font-size: 12px;
        color: $gray_6;
      }
    }
  }
  .noData {
    height: 110px;
    width: 110px;
    margin-top: 7%;
  }
  .btnCreate {
    min-width: 122px;
  }
}
.dropdown_item_custom {
  display: flex;
  padding: 0 12.5px;
  height: 36px;
  width: 75px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: px-to-rem(13);
  line-height: px-to-rem(20);

  &:not(:last-child) {
    border-bottom: 1px solid $gray_11;
  }

  &:hover {
    background: $gray_11;
  }
}

.wrapperAction {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  .moreAction {
    margin: 5px 10px;
  }
}
