@import '../../../../assets/css/utilities/variable.scss';

.minHeight105 {
  min-height: 105px !important;
}

.block {
  padding: 10px 20px 15px;
  background-color: $white;
  border: 1px solid $gray_15;
  border-radius: 4px;
  @media (max-width: 1600px) {
    padding: 15px 5px 15px 5px;
  }
  .inputSelect {
    height: 30px !important;
    margin-bottom: 12px;
    background-color: $blue_10;
    border-radius: 0;
    border: none;
    .wrap-select-custom .select-ui .ant-select-selector {
      height: 36px !important;
    }
  }

  .input {
    width: 130px;
  }
  .imgWrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // @media (max-width: 1600px) {
    //   height: 20px;
    //   width: 20px;
    // }
    img {
      width: 20px;
      height: 20px;
    }
  }
  .number {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.25px;
    @media (max-width: 1600px) {
      font-size: 22px;
      line-height: 26px;
      margin-right: 10px;
    }
  }
  .title {
    color: $gray_3;
    font-weight: 600;
    font-size: $title_font_size;
    line-height: 22px;
    letter-spacing: 0.4px;
    @media (max-width: 1600px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .content {
    color: $gray_5;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    @media (max-width: 1600px) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  // view more

  .floatLeft {
    float: left;
  }

  .floatRight {
    float: right;
  }

  .contentLeft {
    left: 10px;
  }

  .contentRight {
    right: 10px;
  }
  .contentWrapper {
    position: absolute;
    top: 15px;
    max-width: 50%;
    .content {
      max-width: 140px;
    }
    .viewMore {
      margin-top: 8px;
      color: $blue_3;
      font-size: px-to-rem(13);
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .chartDoughnut {
    margin: 0 20px;
  }
  .pointerWrapper {
    display: flex;
    align-items: center;
    .pointer {
      margin-right: 5px;
      min-width: 5px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }

  .percent {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span {
      padding: 0 5px;
      color: $gray_5;
      font-weight: 600;
    }
  }

  .titleDoughnut {
    font-weight: 700;
    font-size: px-to-rem(16);
    line-height: 24px;
    color: $gray_3;
    letter-spacing: 0.5px;
  }
}
.blockDoughnut {
  height: 100%;
}

@media (max-width: 1600px) {
  .block {
    .contentWrapper {
      top: 7px;
      .content {
        max-width: 95px;
      }
      &.contentRight {
        right: 7px;
        text-align: right;
      }
    }
  }
}
