@import 'assets/css/utilities/variable.scss';

.DMS {
  font-size: px-to-rem(14);
  font-weight: 600;
  .headers {
    .title {
      color: $gray_3;
      font-size: px-to-rem(20);
      line-height: 30px;
      padding-top: 4px;
    }

    .button {
      font-weight: 500;
      font-size: px-to-rem(14);
    }
  }

  .wrapperTitle {
    margin-left: 40px;
    margin-top: 30px;

    .title {
      font-weight: bold;
      font-size: 20px;
      color: $gray_3;
    }
  }

  .icButton {
    padding-left: 9px;
  }

  .wrapTable {
    position: relative;
    .table {
      .rowTitle {
        height: 37px !important;
      }
      .thread {
        background-color: $bg-color1;

        .title {
          text-transform: uppercase;

          .titleSort {
            cursor: pointer !important;
          }

          .icSortTable {
            height: 20px;
            width: 20px;
            margin-left: 13px;
            margin-bottom: 2px;
          }

          th {
            font-weight: bold;
            font-size: px-to-rem(14);
            line-height: 22px;
            margin: 0px 12px;
            color: $gray_3;
            border-style: none;
          }
        }
      }

      tbody {
        tr {
          cursor: pointer;
          td {
            padding: 0 16px 0 30px;
            vertical-align: middle;
            span {
              color: $gray_5;
              font-size: px-to-rem(14);
              font-weight: 500;
              line-height: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              word-break: break-word;
              white-space: normal;
            }
          }
        }
      }

      .subAction {
        .icAction {
          .icEdit {
            width: 15px;
            height: 15px;
          }

          .icRemove {
            width: 15px;
            height: 15px;
          }
        }
      }

      .subTitle {
        padding: 6px 16px 6px 30px;

        height: 36px;
      }
      .subTitle_wrapper {
        display: flex;
        align-items: center;
      }
    }
    .dataWapper {
      min-height: calc(100vh - 300px);
      .loading {
        position: absolute;
        width: 60px;
        height: 60px;
        top: calc(50% + 36px);
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .noData {
        height: 150px;
        width: 150px;
        position: absolute;
        top: calc(50% + 36px);
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media (max-width: 1480px) {
  .DMS {
    .wrapperFilter {
      div:first-child {
        flex-grow: 1;
      }
      .inputSearch {
        width: auto;
      }
    }
  }
}
