@import '../../../assets/css/utilities/variable.scss';

.psc {
  font-size: 14px;
  background-color: $bg-color-container;
  font-weight: 600;
  min-height: calc(100vh - 56px);
  position: relative;
  .buttonFilter {
    width: 100px;
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
