@import 'assets/css/utilities/variable.scss';

.toggle-switch-wrapper {
  gap: 10px;
  .toggle-switch-label {
    font-weight: 400;
    font-size: 14px;
    color: $gray_3;
  }
  .toggle-switch-icon {
    position: absolute;
    left: 5px;
    top: 3px;
    height: 9.6px;
    width: 9.6px;
  }
}
.disabled > div {
  cursor: not-allowed !important;
}
