@import 'assets/css/utilities/variable.scss';
@import 'assets/css/utilities/functions.scss';

.readOnly {
  color: $gray_3 !important;
}
.disabledInput {
  background-color: $gray_11 !important;
}

.modalBody {
  padding: 10px 20px;
}

.noInput {
  display: flex;
  flex-direction: column;
  .text {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
}

.hint {
  margin: 0;
  font-weight: 600;
}

.wrapContent {
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 5px;
  &::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $blue_3;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $blue_2;
  }
  .title {
    font-weight: 700;
  }
  .content {
    -webkit-line-clamp: 2;
    font-size: 14px;
    margin: 5px 0;
  }
}

.divider {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 1px;
  background-color: $gray_11;
}

.answerBox {
  border: 1px dashed $gray_9;
  border-radius: 4px;
  padding: 18px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .label {
    font-size: px-to-rem(16);
  }
  .radio {
    width: 16px;
    height: 16px;
    opacity: 1 !important;
  }
  .checkbox {
    background-color: $white !important;
  }
}
.remarks {
  margin-bottom: 24px;
}
