@import '../../../assets/css/utilities/variable.scss';

.wrapper {
  font-size: px-to-rem(14);
  font-weight: 600;
  min-height: calc(100vh - 56px);
  position: relative;
  .headers {
    padding: 20px;
    padding-bottom: 0;
    .title {
      color: $gray_3;
      font-size: $title_font_size;
      line-height: 30px;
      padding-top: 8px;
    }
  }
  .buttonFilter {
    span {
      font-weight: 500;
      font-size: px-to-rem(14);
      line-height: 22px;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
}
