@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import 'functions.scss';

$title_font_size: 15px;
$p_font_size: 16px;
$button-radius: 8px;
$checkbox-radius: 2px;
$input-radius: 8px;

$white: #ffffff;
$blue_main: #44b5f2;
$pink_main: #fa0082;
$green_main: #1bd2a4;
$yellow_main: #ffde54;
$orange_main: #ff6e01;
$red_main: #f42829;
$purple_main: #d96ff8;
$bg-color-container: #f5f6fa;
$bg-color1: #f3f4f6;
$bg-border: #e0e7f2;

$black: #000000;
$primary_6: #1890ff;

$gray_1: #0f0d15;
$gray_2: #1d1929;
$gray_3: #34303e;
$gray_3_1: #333333;
$gray_4: #4a4754;
$gray_5: #615e69;
$gray_6: #77757f;
$gray_7: #8e8c94;
$gray_8: #a5a3a9;
$gray_9: #bbbabf;
$gray_10: #d2d1d4;
$gray_11: #e8e8ea;
$gray_12: #f9f9f9;
$gray_13: #11142d;
$gray_14: #eaeaea;
$gray_15: #dddcdf;
$gray_16: #eaeaea1f;
$gray_17: #757575;
$gray_18: #394452;
$gray_19: #dde4eb;
$gray_20: #f5f5f5;
$gray_21: #3ba0f354;
$gray_22: #f0f0f0;
$gray_23: #d5deee;
$gray_24: #e5e5e5;

$blue_1: #091da9;
$blue_2: #1e62dc;
$blue_3: #3b9ff3;
$blue_4: #44b5f2;
$blue_5: #5acff9;
$blue_6: #6ddffd;
$blue_7: #b5dbff;
$blue_8: #cce8f7;
$blue_9: #e5f3ff;
$blue_9_2: #e6f3ff;
$blue_10: #eef2fa;
$blue_11: #0a84ff;
$blue_12: #0842ff;
$blue_13: #002bb6;
$blue_14: #40a9ff;
$blue_15: #ececec;
$blue_16: #f8f7fa;

$pink_1: #c80068;
$pink_2: #e10075;
$pink_3: #fa0082;
$pink_4: #fb1a8f;
$pink_5: #fb339b;
$pink_6: #fc4da8;
$pink_7: #fc66b4;
$pink_8: #fd80c1;
$pink_9: #fd99cd;
$pink_10: #feb3da;
$pink_11: #fecce6;
$pink_12: #ffe6f3;

$green_1: #18ba92;
$green_2: #1bd2a4;
$green_3: #1ee9b6;
$green_4: #35ebbd;
$green_5: #4bedc5;
$green_6: #62f0cc;
$green_7: #78f2d3;
$green_8: #8ff4db;
$green_9: #a5f6e2;
$green_10: #bcf8e9;
$green_11: #d2fbf0;
$green_12: #e9fdf8;
$green_13: #03a38f;
$green_14: #80d6e8;
$green_15: #e6f7ff;
$green_16: #52e93a;

$yellow_1: #ccb243;
$yellow_2: #e6c84c;
$yellow_3: #ffde54;
$yellow_4: #ffe165;
$yellow_5: #ffe576;
$yellow_6: #ffe887;
$yellow_7: #ffeb98;
$yellow_8: #ffefaa;
$yellow_9: #fff2bb;
$yellow_10: #fff5cc;
$yellow_11: #fff8dd;
$yellow_12: #fffcee;
$yellow_13: #ffb800;

$orange_1: #cc5801;
$orange_2: #e66301;
$orange_3: #ff6e01;
$orange_4: #ff7d1a;
$orange_5: #ff8b34;
$orange_6: #ff9a4d;
$orange_8: #ffa867;
$orange_9: #ffb780;
$orange_10: #ffc599;
$orange_11: #ffd4b3;
$orange_12: #ffe2cc;
$orange_13: #fff1e6;
$orange_14: #b95000;
$orange_15: #fba6a6;
$orange_16: #ff9f0a;
$orange_17: #ffd80a;

$red_1: #c32021;
$red_2: #dc2425;
$red_3: #f42829;
$red_4: #f53e3e;
$red_5: #f65354;
$red_6: #f76969;
$red_7: #f87e7f;
$red_8: #fcbfbf;
$red_9: #fdd4d4;
$red_10: #feeaea;
$red_11: #e9453a;
$red_12: #feeaea;

$purple_1: #ae59c6;
$purple_2: #c364df;
$purple_3: #d96ff8;
$purple_4: #dd7df9;
$purple_5: #e18cf9;
$purple_6: #e49afa;
$purple_7: #e8a9fb;
$purple_8: #ecb7fc;
$purple_9: #f0c5fc;
$purple_10: #f4d4fd;
$purple_11: #f7e2fe;
$purple_12: #fbf1fe;
$purple_13: #ebf8ff;
