@import 'assets/css/utilities/variable.scss';

.wrapHeader {
  padding: 8px 20px;
  .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: $gray_3;
  }
}

.wrapFilter {
  padding: 17px 20px;
  width: 100%;
  background: $gray_12;

  .label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: $gray_3;
  }

  .dotRequired {
    color: $red_2;
  }
  .disabledInput {
    background-color: $gray_11;
  }
}
.wrapFooter {
  padding: 40px 20px 20px 20px;
  .cancelBtn {
    margin-right: 20px;
  }
}
