@import 'assets/css/utilities/variable.scss';

.header {
  padding: 0px 0px 10px 0px !important;
}
.wrapper {
  background-color: $bg-color-container;
  height: calc(100vh - 138px);
  overflow: auto;
  .wrapperContent {
    background-color: $white;
    border-radius: 5px;
    height: calc(100vh - 160px);
    padding: 0 20px;
  }
}
.wrapInfoHead {
  margin-top: 8px;
  .refDetail {
    text-align: right;
    color: $gray_5;
    font-size: 14px;
    line-height: 22px;
    margin-left: 10px;

    span {
      color: $gray_3;
    }
  }
}
.wrapperDetail {
  background-color: $bg-color-container;
  height: calc(100vh - 108px);
  overflow: auto;
  .wrapperForm {
    height: calc(100vh - 107px);
    overflow: auto;
  }
}

.headerBtn {
  .buttonFilter {
    span {
      font-weight: 500;
      font-size: px-to-rem(14);
      line-height: 22px;
    }
  }
}
