@import 'assets/css/utilities/variable.scss';

.header {
  padding: 0px 0px 10px 0px !important;
}
.btnCreate {
  font-weight: 500;
  font-size: 12.25px !important;
}

.iconDown {
  width: 10px;
  height: 10px;
}
