@import 'assets/css/utilities/variable.scss';

.wrapFormPlaning {
  min-height: 40vh;
  height: 40vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue_3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $blue_2;
  }
  table {
    overflow: unset !important;

    thead {
      tr {
        th:first-child {
          display: flex;
          align-items: center;
        }
        th {
          height: 40px !important;
        }
      }
    }

    tbody {
      tr {
        td:first-child {
          display: flex;
          align-items: center;
        }
        td {
          height: 51px !important;

          span {
            overflow: unset !important;
          }
        }
      }
    }
  }
}

.headers {
  padding-bottom: 20px;
  .title {
    color: $gray_3;
    font-size: px-to-rem(20);
    line-height: 30px;
    padding-top: 8px;
  }
  .search {
    display: flex;
    .btnSearch {
      margin-left: 20px;
      font-size: px-to-rem(16);
      font-weight: 500;
    }
    .searchInput {
      background-color: $gray_12 !important;
    }
  }
}
.headerBtn {
  .buttonFilter {
    width: 100px;
    span {
      font-weight: 500;
      font-size: px-to-rem(14);
      line-height: 22px;
    }
  }
}
.buttonWrapper {
  display: flex;
  width: 200px;
  height: 100%;
  align-items: center;
  .buttonTemplate {
    width: 200px;
    font-size: px-to-rem(16);
  }
}
.dataWrapperEmpty {
  min-height: 110px !important;
  img {
    top: 50% !important;
  }
  img {
    padding: 0;
    margin: 0 !important;
  }
}
.divider {
  height: 1px;
  width: 100%;
  background-color: $gray_11;
}

.buttonZipFile {
  border: none;
  background-color: white;
  color: $blue_3;
  padding-left: 0;
  font-weight: 600;
  font-size: 15px;
}

.icButton {
  padding-left: 9px;
}
.hasFileZip {
  padding-top: 6px !important;
}

.wrapperContainer {
  background-color: $white;
  border-radius: 5px;

  .containerForm {
    padding-bottom: 24px;
    .inputSelect {
      margin-right: 20px;
      background: $white;
      box-sizing: border-box;
      border-radius: $input-radius;
    }
    .ant-select-selection-placeholder {
      padding: 7px;
    }
    .labelSelect {
      font-size: 1rem;
      color: $gray_3;
      font-weight: 400;
    }
    .titleForm {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .labelForm {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      span {
        font-size: $title_font_size;
        line-height: 26px;
        color: $gray_3;
        font-weight: 500;
      }
      .buttonAdd {
        font-size: px-to-rem(14);
      }
    }
  }

  .disabledSelect {
    div {
      background: $white !important;
    }
  }
  .disabledInput {
    color: $gray_3 !important;
    background-color: $gray_11 !important;
  }
}
.icButtonSend {
  margin-left: 9px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  .buttonCancel {
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    width: 160px;
    height: 48px;
  }
  .buttonSave {
    width: 160px;
    height: 48px;
    left: 180px;
    top: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    border-radius: 6px;
    margin-left: 20px;
  }
}

.loading {
  margin-top: 17%;
  height: 60px;
  width: 60px;
}

.wrapperContainerAttachment {
  background-color: $white;
  padding: 20px 0px;
  border-radius: 5px;
  .containerForm {
    padding-bottom: 14px;
    .buttonPort {
      width: '100%';
    }
    .titleContainer {
      color: $gray_3;
      font-size: $title_font_size;
      font-weight: 700;
      line-height: 26px;
    }
    .inputSelect {
      margin-right: 20px;
      height: 40px;
      background: $white;
      box-sizing: border-box;
      border-radius: $input-radius;
    }
    .ant-select-selection-placeholder {
      padding: 7px;
    }
    .labelSelect {
      font-size: 1rem;
      color: $gray_3_1;
      font-weight: 400;
    }
    .button {
      font-weight: 500;
      font-size: 14px;
      .icButton {
        padding-left: 9px;
      }
    }
  }
  .inputFile {
    overflow: visible;
    display: none;
  }
  .titleForm {
    margin-bottom: unset;
    font-size: 18px;
  }
}
.footer {
  display: flex;
  justify-content: flex-end;
  .buttonCancel {
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    width: 160px;
    height: 48px;
  }
  .buttonSave {
    width: 160px;
    height: 48px;
    left: 180px;
    top: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    border-radius: 6px;
    margin-left: 20px;
  }
}
.icButtonSend {
  margin-left: 9px;
}
.loading {
  margin-top: 17%;
  height: 60px;
  width: 60px;
}

.wrapperAction {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  .moreAction {
    margin: 5px 10px;
  }
}

.dropdown_item_custom {
  display: flex;
  padding: 0 12.5px;
  height: 36px;
  width: 75px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: px-to-rem(13);
  line-height: px-to-rem(20);

  &:not(:last-child) {
    border-bottom: 1px solid $gray_11;
  }

  &:hover {
    background: $gray_11;
  }
}
