.badges {
  display: flex;
  align-items: center;
  justify-content: center;
  .badge {
    display: flex;
    align-items: center;
    margin-right: 10px;
    .dot {
      margin-right: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    .label {
      font-weight: 500;
      // font-size: 8px;
    }
  }
}
