@import 'assets/css/utilities/variable.scss';

.wrapperContainer {
  padding-bottom: 6px;
  padding-top: 7px;
  .wrapper {
    background-color: $white;
    padding: 0px 20px 40px;
    border-radius: 5px;

    .headerTitle {
      font-weight: 700;
      font-size: $title_font_size;
      line-height: 24px;
      color: $gray_3;
    }
  }

  .btnAttachment {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    &:hover {
      background: none;
      color: $blue_3;
    }
  }
  .icButton {
    padding-left: 8px;
  }
}

.wrapper {
  font-size: px-to-rem(14);
  position: relative;
  font-weight: 600;
  height: 100%;
  padding: 10px 20px 40px;
  background-color: $bg-color-container;
  .icButton {
    padding-left: 9px;
  }
  .titleForm {
    font-size: $title_font_size;
  }
}
