@import 'assets/css/utilities/variable.scss';

.incidentOverviewChart {
  padding: 20px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  border: 1px solid $gray_19;
  border-radius: 4px;
  height: 470px;
  @media (max-width: 1200px) {
    height: 510px;
  }
}

.customMarginLeft {
  margin-right: 12px;
}
