@import 'assets/css/utilities/variable.scss';
@import 'assets/css/utilities/mixin.scss';

.header {
  font-size: $title_font_size;
  margin-bottom: 10px;
  line-height: 26px;
  padding: 0px;
  color: $gray_3;
}

.container {
  min-height: calc(100vh - 350px);
}

.dataWrapperEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 160px;
  img {
    top: 50% !important;
  }
  img {
    padding: 0;
    margin: 0 !important;
  }
  .noData {
    width: 110px;
    height: 110px;
  }
}
